@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    scroll-behavior: smooth;
    cursor: url('https://cdn.discordapp.com/attachments/1006006861234962552/1214847801264177162/image.png?ex=65fa9a2e&is=65e8252e&hm=7f0d09484f6656e2b7b28e55f9a3ec5e42bbddbeae16b893891ee9c19c9a7952&'), auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes opacity-scale-animation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  75% {
    opacity: 0.75;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.opacity {
  animation: opacity-scale-animation 1.2s ease-in-out;
}

.hideverticalscrollbar::-webkit-scrollbar {
  display: none;
}
.hideverticalscrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;

}

html {
  scroll-behavior: smooth;
}
